rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Rule for report_abstract collection
    match /report_abstracts/{documentId} {
      allow read, write: if isUserDocument(documentId) || isDemoReport(documentId);
      
      // Allow access to subcollections like "abstracts"
      match /{subCollection=**} {
        allow read, write: if isUserDocument(documentId) || isDemoReport(documentId);
      }
    }

    // Rule for metaData collection
    match /metaData/{documentId} {
      allow read, write: if isUserDocument(documentId) || isDemoReport(documentId);
    }

    // Rule for reports collection
    match /reports/{documentId} {
      allow read, write: if isUserDocument(documentId) || isDemoReport(documentId);
      
      // Allow access to subcollections like "sections"
      match /{subCollection=**} {
        allow read, write: if isUserDocument(documentId) || isDemoReport(documentId);
      }
    }

    // Helper function to check if the document belongs to the user
    function isUserDocument(documentId) {
      return request.auth != null && documentId == request.auth.uid;
    }
    
    // Helper function to check if the document is the demo report
    function isDemoReport(documentId) {
      return documentId == '49Ymd6vvIqhOZChldJ8GUcAjbcv1';
    }
  }
}