.hide-scrollbar {
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */

    /* For Chrome, Safari, and Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}